    <div>
        <div class="card-header">
            <h5 class="card-title" id="tabHead">Admission</h5>
        </div>
        <div>
        <div class="card-body">
          <!-- Nav -->
          <ul class="nav nav-segment nav-fill mb-5" id="editUserTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="all-orders-tab" data-toggle="tab" href="#all-orders" role="tab">Admission Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="open-orders-tab" data-toggle="tab" href="#open-orders" role="tab">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="cenceled-orders-tab" data-toggle="tab" href="#cenceled-orders" role="tab">Student Guide</a>
            </li>
          </ul>
          <!-- End Nav -->
          <!-- Tab Content -->
          <div class="tab-content" id="editUserTabContent">
            <div class="tab-pane fade show active" id="all-orders" role="tabpanel" aria-labelledby="all-orders-tab">
            <ul class="list-unstyled">
                <!-- Card -->
                <li class="card card-bordered mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6 col-md mb-3 mb-md-0">
                        <!-- <i class="far fa-credit-card"></i> -->
                        <small class="text-cap">Package</small>
                        <small class="text-dark font-weight-bold" id="pack">
                          <div class="spinner-border text-dark" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </small>
                      </div>
                      <div class="col-6 col-md mb-3 mb-md-0">
                        <!-- <i class="far fa-graduation-cap"></i> -->
  
                        <small class="text-cap">Course</small>
                        <small class="text-dark font-weight-bold"  id="title">
                          <div class="spinner-border text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </small>
                      </div>
                      <div class="col-6 col-md">
                        <small class="text-cap">Reg no.</small>
                        <small class="text-dark font-weight-bold" id="regNo1">
                          <div class="spinner-border text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </small>
                      </div>
                      <div class="col-6 col-md">
                        <small class="text-cap">date registered:</small>
                        <small class="text-dark font-weight-bold" id="regAt1">
                          <div class="spinner-border text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </small>
                      </div>
                    </div>
                    <!-- End Row -->

  
                    <hr>
                    <div class="row">
                        <div class="col-6 col-md mb-3 mb-md-0">
                          <!-- <i class="far fa-credit-card"></i> -->
                          <small class="text-cap">Tuition Fee</small>
                          <small class="text-dark font-weight-bold" id="tuitionFee">
                            <div class="spinner-border text-dark" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </small>
                        </div>
                        
                     
                        <div class="col-6 col-md mb-3 mb-md-0">
                          <!-- <i class="far fa-graduation-cap"></i> -->
    
                          <small class="text-cap">Tuition fee status</small>
                          <small class="text-dark font-weight-bold"  id="tuitionFeeStatus">
                            <div class="spinner-border text-dark" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </small>
                        </div>
                        <div class="col-6 col-md">
                          <small class="text-cap">Reg Fee.</small>
                          <small class="text-dark font-weight-bold" id="regFee">
                            <div class="spinner-border text-dark" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </small>
                        </div>
                        <div class="col-6 col-md">
                          <small class="text-cap">Reg Fee status:</small>
                          <small class="text-dark font-weight-bold" id="regFeeStatus">
                            <div class="spinner-border text-dark" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </small>
                        </div>
                      </div>
                      <hr>
                    
  
                    
                  </div>
                </li>
                <!-- End Card -->
                </ul>
             
                
            
               
            </div>
  
            <div class="tab-pane fade" id="open-orders" role="tabpanel" aria-labelledby="open-orders-tab">
              <!-- Empty State -->
              <p class="text-center" id="admissionStatusDom">
                <span class="spinner-border text-dark" role="status">
                  <span class="sr-only">Loading...</span>
                </span>
              </p>
              <div class="text-center space-1">
                  
                <a style="display: none;" class="btn btn-sm btn-white btn-outline" data-toggle="modal" data-target="#modal-sm">Pay Tuition fee</a>
                <p id="admissionMsg">
                  <span class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                  </span>
                </p>
                <a style="display: none;" class="btn btn-navy btn-sm text-center text-white" id="downloadLetter1">Download Letter</a>
            </div>
              <!-- End Empty State -->
            </div>
  
            <div class="tab-pane fade" id="cenceled-orders" role="tabpanel" aria-labelledby="cenceled-orders-tab">
              <!-- Empty State -->
              <div class="text-center space-1">
                
              </div>
              <!-- End Empty State -->
            </div>
          </div>
          <!-- End Tab Content -->
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
        <!-- test here -->
      </div>
      
    </div>
</div>
<!-- <scrip src="../assets/js/script.js"></scrip> -->
     
  