
<style>
     /* width */
     ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: navy; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #4c4c667a; 
    }
</style>

<div class="card">
  <!-- Header -->
  <div class="card-header">
   <h5 class="card-tile">Class Room</h5>
  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body">
    <!-- Nav -->
    <ul class="nav nav-segment nav-fill mb-5" id="editUserTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="all-orders-tab" data-toggle="tab" href="#all-orders" role="tab">Course Materials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="open-orders-tab" data-toggle="tab" href="#open-orders" role="tab">Exams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="cenceled-orders-tab" data-toggle="tab" href="#cenceled-orders" role="tab">Time Table</a>
      </li>
    </ul>
    <!-- End Nav -->

    <!-- Tab Content -->
    <div class="tab-content" id="editUserTabContent">
      <div class="tab-pane fade show active text-center" id="all-orders" role="tabpanel" aria-labelledby="all-orders-tab">

          <p class="card-text">Make your life experiences simpler and stay in control with the TNX Coolege Mobile App.
            manage your portal and make payments using QR (Quick Response codes).</p>
            <a href="" class="btn btn-navy btn-sm">Download Now</a>
      </div>

      <div class="tab-pane fade" id="open-orders" role="tabpanel" aria-labelledby="open-orders-tab">
        <!-- Empty State -->
        <div class="text-center space-1">
          <img class="avatar avatar-xl mb-3" src="https://htmlstream.com/front/assets/svg/components/empty-state-no-data.svg" alt="Image Description">
          <p class="card-text">No data to show</p>
          <!-- <a class="btn btn-sm btn-white" href="#">Start Shopping</a> -->
        </div>
        <!-- End Empty State -->
      </div>

      <div class="tab-pane fade" id="cenceled-orders" role="tabpanel" aria-labelledby="cenceled-orders-tab">
        <!-- Empty State -->
        <div class="text-center space-1">
          <iframe style="border: 1px solid navy; border-radius: 10px;" height="400px" width="100%" src="https://docs.google.com/document/d/1KHDcSLMbBahG3ot5zVnqW1iSkpI4Dr3qnKbgty2sPq8/edit?usp=sharing"></iframe>
          <!-- <img class="avatar avatar-xl mb-3" src="https://htmlstream.com/front/assets/svg/components/empty-state-no-data.svg" alt="Image Description">
          <p class="card-text">No data to show</p> -->
          <!-- <a class="btn btn-sm btn-white" href="#">Start Shopping</a> -->
        </div>
        <!-- End Empty State -->
      </div>
    </div>
    <!-- End Tab Content -->
  </div>
  <!-- End Body -->
</div>
     
  