
   
    <div class="header-section">
      <!-- Topbar -->
     
      <!-- End Topbar -->

      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-lg">
          <!-- Logo -->
         
          <li class="list-inline-item">
            <div class="hs-unfold">
              <a onclick="openNav()" class="nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false"> <i class="material-icons" style="margin-left: -73px;">menu</i></a>
            </div>
          </li>
          <a class="navbar-brand" href="index.php" aria-label="Front">
            <img src="assets/img/tnx-logo.png" alt="Logo">
          </a>
          <!-- End Logo -->
          <div class="form-group top-search" style="margin-top: -15px;">
              <input type="text" class="form-control" placeholder="What do you want to learn?" style="margin-top: 22px; margin-left: 111px; height: 45px; width: 500px; height:40px" >
          </div>
          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span class="navbar-toggler-default">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
              </svg>
            </span>
            <span class="navbar-toggler-toggled">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse">
            <div class="navbar-body header-abs-top-inner">
              <ul class="navbar-nav">
          
                <li class="list-inline-item">
                  <div class="hs-unfold">
                    <a  class="nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">For Business</a>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="hs-unfold">
                    <a  class="nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">Why TNX College  <i class="fa fa-play"></i></a>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="hs-unfold">
                    <a class="js-hs-unfold-invoker btn btn-sm btn-outline-navy transition-3d-hover"" href="javascript:;"
                       data-hs-unfold-options='{
                        "target": "#sidebarContent",
                        "type": "css-animation",
                        "animationIn": "fadeInRight",
                        "animationOut": "fadeOutRight",
                        "hasOverlay": "rgba(55, 125, 255, 0.1)",
                        "smartPositionOff": true
                       }'>
                       Login
                      <i class="fas fa-user-circle"></i>
                    </a>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="hs-unfold">    
                    <a class="js-hs-unfold-invoker btn btn-sm btn-navy transition-3d-hover" href="javascript:;" aria-haspopup="true" aria-expanded="false" data-hs-unfold-options='{
                      "target": "#sidebarContent",
                      "type": "css-animation",
                      "animationIn": "fadeInRight",
                      "animationOut": "fadeOutRight",
                      "hasOverlay": "rgba(55, 125, 255, 0.1)",
                      "smartPositionOff": true
                     }'>Join for free</a>

                  </div>
                </li>
                <!-- End Button -->
              </ul>
            </div>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
    <div class="alert alert-navy alert-dismissible fade show" role="alert">
      Use your downtime to upskill. Learn Machine Learning free of charge with our ML scholarships 
      <button type="button" class="btn btn-outline-light">
        <span aria-hidden="true" >Start learning</span>
      </button> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
