<div>
    <style>
        .jumbotron:hover{
            background:navy;
            color: white;
        }
    </style>
    <div class="card-header">
        <h5 class="card-title" id="tabHead">IBO</h5>
    </div>
    <div>
    <div class="card-body">
      <!-- Nav -->
      <ul class="nav nav-segment nav-fill mb-5" id="editUserTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="all-orders-tab" data-toggle="tab" href="#all-orders" role="tab">New Referal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="open-orders-tab" data-toggle="tab" href="#open-orders" role="tab">My referals</a>
        </li>
        <li class="nav-item" style="display: none;">
          <a class="nav-link" id="cenceled-orders-tab" data-toggle="tab" href="#cenceled-orders" role="tab">Student Guide</a>
        </li>
      </ul>
      <!-- End Nav -->
      <!-- Tab Content -->
      <div class="tab-content" id="editUserTabContent">
        <div class="tab-pane fade show active" id="all-orders" role="tabpanel" aria-labelledby="all-orders-tab">
        <ul class="list-unstyled">
            <!-- Card -->
            <li class="card card-bordered mb-3">
              <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="jumbotron jumbotron-fluid text-center">
                            <div class="container">
                              <h1 class="display-4 text-navy" data-target="#addData" data-toggle="modal"><i class="fas fa-plus"></i></h1>
                              <p class="lead">Add User's Data</p>
                            </div>
                          </div>
                    </div>
               
                
                    <div class="col-lg-4">
                        <div class="jumbotron jumbotron-fluid text-center">
                            <div class="container">
                              <h1 class="display-4 text-navy" data-target="#sendEmail" data-toggle="modal"><i class="fas fa-envelope"></i></h1>
                              <p class="lead">Invite User via Email</p>
                            </div>
                          </div>
                    </div>
             
                
                    <div class="col-lg-4">
                        <div class="jumbotron jumbotron-fluid text-center">
                            <div class="container">
                              <h1 data-toggle="modal" data-target="#sendSms" class="display-4 text-navy"><i class="fas fa-sms"></i></h1>
                              <p class="lead">Invite User via SMS</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="jumbotron jumbotron-fluid text-center">
                            <div class="container">
                              <h1 data-toggle="modal" data-target="#sendFacebook" class="display-4 text-navy"><img width="50px" src="assets/img/facebook.svg"/></h1>
                              <p class="lead">Share on Facebook</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="jumbotron jumbotron-fluid text-center">
                            <div class="container">
                              <h1 class="display-4 text-navy"><i class="fas fa-clipboard"></i></h1>
                              <p class="lead">Copy to Clipboard</p>
                            </div>
                          </div>
                    </div>
                </div>

                
                <!-- End Row -->


                <hr>
                <div class="row">
                    <div class="col-12 col-md mb-3 mb-md-0">
                      <p style="color: red;" class=""><strong>Referrer Rewards:  </strong> Accumulating rewards: Refer one student, earn 10% Refer 10 friends, earn a free razor. Refer 25 friends, earn a free premium razor. Refer 50 friends, earn free shaving for a year.</p>
                    </div>
                
                  </div>
                  <hr>
                

                
              </div>
            </li>
            <!-- End Card -->
            </ul>
         
            
        
           
        </div>

        <div class="tab-pane fade" id="open-orders" role="tabpanel" aria-labelledby="open-orders-tab">
          <!-- Empty State -->
          <p class="text-center" id="admissionStatusDom">
            <span class="spinner-border text-dark" role="status">
              <span class="sr-only">Loading...</span>
            </span>
          </p>
          <div class="text-center space-1">
              
            <a style="display: none;" class="btn btn-sm btn-white btn-outline" data-toggle="modal" data-target="#modal-sm">Pay Tuition fee</a>
            <p id="admissionMsg">
              <span class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
              </span>
            </p>
            <a style="display: none;" class="btn btn-navy btn-sm text-center text-white" id="downloadLetter1">Download Letter</a>
        </div>
        <div>
            

        </div>
          <!-- End Empty State -->
        </div>

        <div class="tab-pane fade" id="cenceled-orders" role="tabpanel" aria-labelledby="cenceled-orders-tab">
          <!-- Empty State -->
          <div class="text-center space-1">
            
          </div>
          <!-- End Empty State -->
        </div>
      </div>
      <!-- End Tab Content -->
    </div>
    <!-- End Body -->
  </div>
  <!-- End Card -->
    <!-- test here -->
  </div>
  
</div>
</div>
<!-- <scrip src="../assets/js/script.js"></scrip> -->

<!-- 
    ========
    Sms
     ======
 -->

<div class="modal fade" id="sendSms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send SMS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      <div class="modal-body">
          <hr>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="smsName" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="smsPhone" placeholder="Phone">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="smsText">Hi, it's me Chioma........</textarea>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-navy btn-sm" id="submitSms">Send </button>
      </div>
    </div>
  </div>
</div>

<!-- 
    =====
    send sms 
    =====
-->
<div class="modal fade" id="sendEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send Mail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        <div class="modal-body">
            <hr>
          <form>
            
            <div class="form-group">
             
              <input type="text" class="form-control" id="recipient-name" placeholder="Email Address">
            </div>
            
            <div class="form-group">
              
              <textarea class="form-control" id="message-text">Hi, it's me Chioma........</textarea>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-navy btn-sm">Send </button>
        </div>
      </div>
    </div>
  </div>

  <!-- add data -->
  <div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      <div class="modal-body">
          <hr>
        <form>
          
          <div class="form-group">
           
            <input type="text" class="form-control" id="recipient-name" placeholder="Name">
          </div>
          <div class="form-group">
           
            <input type="text" class="form-control" id="recipient-name" placeholder="Phone">
          </div>
          <div class="form-group">
           
            <input type="text" class="form-control" id="recipient-name" placeholder="Email">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-navy btn-sm">Save </button>
      </div>
    </div>
  </div>
</div>

<!-- via Facebook -->
<div class="modal fade bg-navy" id="sendFacebook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Invite via Facebook</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        <div class="modal-body">
            <hr>
            <div class="row">
                <div class="col-lg-12">
                  <iframe style="border: 1px solid grey; border-radius: 10px;" width="100%" src="http://localhost/e-learning/profile/share.html"></iframe>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-navy btn-sm" id="shareBtn2">Done </button>
        </div>
      </div>
    </div>
  </div>

                      
<!-- <script>
    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        display: 'popup',
        method: 'share',
        href: 'https://tnxcollege.com/apply',
      }, function(response){});
    }
</script> -->
 
