<!-- <div class="card"> -->
    <div class="card-header">
      <h5 class="card-title">Notice Board</h5>
    </div>

    <!-- Body -->
    <div class="card-body">
      <div class="text-center space-1">
        <h3>RESUMPTION NOTIFICATION MESSAGE</h3>
        <!-- <img class="avatar avatar-xl mb-3" src="https://htmlstream.com/front/assets/svg/components/empty-state-no-data.svg" alt="Image Description"> -->
        <p class="card-text">
          This is to remind all our College Studentsthat resumption date for Batch A Session is Thursday, 3rd September 2020 but due to the orientation day scheduled for the above stated date, 7th of September, 2020 will be an effective date of resumption.
          We are using this channel to welcome all our Students, and we wish a successful learning experience at the TNX College.
          Best Reagrds!
          </p>
        <!-- <a class="btn btn-sm btn-white" href="#"></a> -->
      </div>
      <p id="noticeBoard"></p>
      <div class="form-group">
        <!-- Custom Checkbox -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="deleteAccountCheckbox">
          <label class="custom-control-label" for="deleteAccountCheckbox"></label>
        </div>
        <!-- End Custom Checkbox -->
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-danger transition-3d-hover">Got it!</button>
      </div>
    </div>
    <!-- End Body -->
  </div>
<!-- </div> -->