

    <!-- Body -->
    <div>
        <div class="card-header">
            <h5 class="card-title">Payment</h5>
        </div>
        <div>
        <div class="card-body">
          <!-- Nav -->
          <ul class="nav nav-segment nav-fill mb-5" id="editUserTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="all-orders-tab" data-toggle="tab" href="#all-orders" role="tab">Fees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="open-orders-tab" data-toggle="tab" href="#open-orders" role="tab">Invoice</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="cenceled-orders-tab" data-toggle="tab" href="#cenceled-orders" role="tab">Receipt</a>
            </li>
          </ul>
          <!-- End Nav -->
  
          <!-- Tab Content -->
          <div class="tab-content" id="editUserTabContent">
            <div class="tab-pane fade show active" id="all-orders" role="tabpanel" aria-labelledby="all-orders-tab">
             
                  <div class="row">
                    <div class="col-lg-12 text-center">
                      <button class="btn btn-outline-navy btn-sm" data-target="#makePayment" data-toggle="modal">Make Payment</button>
                    </div>
                  </div>
                   
            </div>
  
            <div class="tab-pane fade" id="open-orders" role="tabpanel" aria-labelledby="open-orders-tab">
              <!-- Empty State -->
              <div class="text-center space-1">
                 
              </div>
              <!-- End Empty State -->
            </div>
  
            <div class="tab-pane fade" id="cenceled-orders" role="tabpanel" aria-labelledby="cenceled-orders-tab">
              <!-- Empty State -->
              <div class="text-center space-1">
                  <div class="row">
                    
                  </div>
              
              </div>
              <!-- End Empty State -->
            </div>
          </div>
          <!-- End Tab Content -->
        </div>
        <!-- End Body -->
      </div>
      <!-- End Card -->
        <!-- test here -->
      </div>
  
    </div>
</div>
     


<div id="makePayment" class="modal fade bd-example-modal-sm mt-8" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-lg-4 text-center">
              <span>Registration</span><br>
              <input type="radio" name="fee" class="btn btn-light" id="downloadInvoice">
            </div>
            <div class="col-lg-4 text-center">
              <span>Material</span><br>
              <input type="radio" name="fee" >

            </div>
            <div class="col-lg-4 text-center">
              <span>Tuition</span><br>
              <input type="radio" name="fee" data-toggle="modal" data-target="#modal-sm">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" id="proceedPayment" class="btn btn-light btn-outline-navy btn-sm">Proceed</a>
      </div>
    </div>
  </div>
</div>

<!-- payment modal -->
<div id="modal-sm" class="modal fade bd-example-modal-sm mt-8" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose Payment Option</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 text-center">
              <select id="selectedIntallment" class="form-control js-custom-select"
              data-hs-select2-options='{
                "minimumResultsForSearch": "Infinity",
                "customClass": "custom-select custom-select-sm",
                "dropdownAutoWidth": true,
                "width": true
              }'>
                <option value="1">Part Payment</option>
                <option value="2" selected>Full payment</option>
              </select>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" id="proceedToInvoice" class="btn btn-light btn-outline-navy btn-sm">Proceed</a>
      </div>
    </div>
  </div>
</div>
  