




<div class="card">
  <!-- Header -->
  <div class="card-header">
    <h5 class="card-title">Profile</h5>

    <!-- <form class="input-group input-group-merge input-group-borderless">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fas fa-search"></i>
        </div>
      </div>
      <input type="search" class="form-control" placeholder="Search orders" aria-label="Search orders">
    </form> -->
  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body">
    <!-- Nav -->
    <ul class="nav nav-segment nav-fill mb-5" id="editUserTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="all-orders-tab" data-toggle="tab" href="#all-orders" role="tab">My Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="open-orders-tab" data-toggle="tab" href="#open-orders" role="tab">Change Passowrd</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="cenceled-orders-tab" data-toggle="tab" href="#cenceled-orders" role="tab">Updates</a>
      </li>
    </ul>
    <!-- End Nav -->

    <!-- Tab Content -->
    <div class="tab-content" id="editUserTabContent">
      <div class="tab-pane fade show active" id="all-orders" role="tabpanel" aria-labelledby="all-orders-tab">
        <!-- Select Group -->
        <div class="d-sm-flex align-items-sm-center mb-5">
         
        </div>
        <!-- End Select Group -->

        <ul class="list-unstyled">
          <!-- Card -->
          <li class="card card-bordered mb-3">
            <div class="card-body">
              
              <form>
                <div class="row form-group">
                  <label class="col-sm-3 col-form-label input-label">Profile photo</label>
        
                  <div class="col-sm-9">
                    <div class="media align-items-center">
                      <label class="avatar avatar-xl avatar-circle mr-4" for="avatarUploader">
                        <img id="avatarImg" class="avatar-img" src="assets/img/avatar.jpg" alt="Image Description">
                      </label>
        
                      <div class="media-body">
                        <div class="btn btn-sm btn-navy btn-sm file-attachment-btn mb-2 mb-sm-0 mr-2">Upload Photo
                          <input type="file" class="js-file-attach file-attachment-btn-label" id="avatarUploader"
                                 data-hs-file-attach-options='{
                                    "textTarget": "#avatarImg",
                                    "mode": "image",
                                    "targetAttr": "src"
                                 }'>
                        </div>
        
                        <a class="btn btn-sm btn-warning mb-2 mb-sm-0" href="javascript:;">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Form Group -->
        
                <!-- Form Group -->
                <div class="row form-group">
                  <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Full name <i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title=""></i></label>
        
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input disabled type="text" class="form-control" name="firstName" id="fullName1"  aria-label="Clarice" value="">
                      <input disabled type="text" class="form-control" name="lastName" id="city1"  aria-label="Boone" value="">
                    </div>
                  </div>
                </div>
                <!-- End Form Group -->
        
                <!-- Form Group -->
                <div class="row form-group">
                  <label for="emailLabel" class="col-sm-3 col-form-label input-label">Email</label>
        
                  <div class="col-sm-9">
                    <input disabled type="email" class="form-control" name="email" id="email1" placeholder="" aria-label="" value="">
                  </div>
                </div>
                <!-- End Form Group -->
        
                <!-- Form Group -->
                <div class="js-add-field row form-group"
                     data-hs-add-field-options='{
                        "template": "#addPhoneFieldTemplate",
                        "container": "#addPhoneFieldContainer",
                        "defaultCreated": 0
                      }'>
                  <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Phone <span class="input-label-secondary">(Optional)</span></label>
        
                  <div class="col-sm-9">
                    <div class="input-group align-items-center">
                      <input disabled type="text" class="js-masked-input form-control" name="phone" id="phone1" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" value=""
                             data-hs-mask-options='{
                               "template": "+0(000)000-00-00"
                             }'>
        
                      <div class="input-group-append">
                        <!-- Select -->
                        <select class="js-custom-select custom-select dropdown-toggle" name="phoneSelect"
                              data-hs-select2-options='{
                                "minimumResultsForSearch": "Infinity",
                                "customClass": "custom-select",
                                "dropdownAutoWidth": true,
                                "width": true
                              }'>
                          <option value="Mobile" selected>Mobile</option>
                          <option value="Home">Home</option>
                          <option value="Work">Work</option>
                          <option value="Fax">Fax</option>
                          <option value="Direct">Direct</option>
                        </select>
                        <!-- End Select -->
                      </div>
                    </div>
        
                    <!-- Container For Input Field -->
                    <div id="addPhoneFieldContainer"></div>
        
                    <a href="javascript:;" class="js-create-field form-link btn btn-xs btn-no-focus btn-ghost-primary">
                      <i class="fas fa-plus mr-1"></i>
                      Add phone
                    </a>
                  </div>
                </div>
              </form>

              <hr>

              
            </div>
          </li>
          <!-- End Card -->

          
          
          <!-- End End Card -->
        </ul>

        <!-- Pagination -->
        <!-- <nav class="d-flex justify-content-end mt-5" aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav> -->
        <!-- End Pagination -->
      </div>

      <div class="tab-pane fade" id="open-orders" role="tabpanel" aria-labelledby="open-orders-tab">
        <!-- Empty State -->
        <div class="text-center space-1">
         
          <div class="row">
            <div class="col-lg-12">
              <div class="row form-group">
                <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Change Passowrd <i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title=""></i></label>
      
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="password" class="form-control" name="firstName" id="forgotpass"  aria-label="Clarice" value="">
                    <input type="password" class="form-control" name="lastName" id="forgotpassConfirm"  aria-label="Boone" value="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Empty State -->
      </div>

      <div class="tab-pane fade" id="cenceled-orders" role="tabpanel" aria-labelledby="cenceled-orders-tab">
        <!-- Empty State -->
        <div class="text-center space-1">
          <img class="avatar avatar-xl mb-3" src="https://htmlstream.com/front/assets/svg/components/empty-state-no-data.svg" alt="Image Description">
          <p class="card-text">No data to show</p>
          <!-- <a class="btn btn-sm btn-white" href="#"></a> -->
        </div>
        <!-- End Empty State -->
      </div>
    </div>
    <!-- End Tab Content -->
  </div>
  <!-- End Body -->
</div>
     
  