<div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
    <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
      <!-- Card -->
      <div class="card mb-5">
        <div class="card-body">
          <!-- Avatar -->
          <div class="d-none d-lg-block text-center mb-5">
            <div class="avatar avatar-xxl avatar-circle mb-3">
              <img class="avatar-img" src="assets/img/avatar.jpg" alt="Image Description">
              <img class="avatar-status avatar-lg-status" src="https://htmlstream.com/front/assets/svg/illustrations/top-vendor.svg" alt="Image Description" data-toggle="tooltip" data-placement="top" title="Verified user">
            </div>

            <h4 class="card-title" id="userName"></h4>
            <p class="card-text font-size-1" id="userEmail"></p>
            <p class="card-text font-size-1 mt-1" id="phone"></p>
            <!-- <p class="card-text font-size-1"><span>Reg. No.: </span><span id="regNo"></span></p> -->
          </div>
          <!-- End Avatar -->

          <h6 id="profileTab" class="text-cap small btn">Profile</h6>
          <h6 id="admissionTab" class="text-cap small btn">Admission</h6>
          <h6 id="paymentTab" class="text-cap small btn">Payment</h6>
          
          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4" style="display: none;">
            <li class="nav-item">
              <!-- <a> -->
                <!-- <i class="fas fa-id-card nav-icon"></i> -->
             
              Acess Code 
              <span class="badge badge-warning badge-pill"> </span>
              <!-- </a> -->
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="login-and-security.html">
                <i class="fas fa-shield-alt nav-icon"></i>
                Login &amp; security
              </a>
            </li> -->
          
          </ul>
          <!-- End List -->

          <!-- <h6 class="text-cap small">Course</h6> -->

          <!-- List -->
          <!-- <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <a class="nav-link" href="orders.html">
                <i class="fas fa-shopping-basket nav-icon"></i>
                Course
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="wishlist.html">
                <i class="fas fa-heart nav-icon"></i>
                Package
                <span class="badge badge-soft-navy badge-pill nav-link-badge">2</span>
              </a>
            </li>
          </ul> -->
          <!-- End List -->

          <!-- <h6 class="text-cap small" >Admission</h6> -->

          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2" style="display: none;">
            <li class="nav-item">
              <!-- <a class="nav-link" href=""><i class="badge-soft-navy badge-soft-navy"></i> -->
              
              Status 
              <span class="badge badge-warning badge-pill" > </span>
              <!-- </a> -->
            </li>
            
          </ul>
          

          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2" style="display: none;">
            <li class="nav-item">
              <!-- <a class="nav-link" href=""> -->
              Reg Fee: <span id="regFee"></span>
              <span class="badge badge-warning badge-pill" id="regFeeStatus"> </span>
              <!-- </a> -->
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href=""> -->
                Invoice ID
              <span class="badge badge-warning badge-pill" id="invoiceId"> </span>
                
              <!-- </a> -->
            </li>
            <li class="nav-item" >
              <span>
              Tuition Fee N</span></span><span id="tuitionFee"></span>
              <span class="badge badge-warning badge-pill" id="tuitionFeeStatus"> </span>
           
            </li>
            
    
          </ul>
         
        </ul>
        <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
              <button id="downloadInvoice" class="btn btn-navy btn-sm">Download Invoice</button>
            </a>
          </li>
        </ul>
       


          <div class="d-lg-none">
            <div class="dropdown-divider"></div>

            <!-- List -->
            <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2">
              <li class="nav-item">
                <a class="nav-link text-primary" href="#">
                  <i class="fas fa-sign-out-alt nav-icon"></i>
                  Log out
                </a>
              </li>
            </ul>
            <!-- End List -->
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <script>
    // var accounTab = document.querySelector('#accountTab')
    //   accounTab.addEventListener('click', () => 
    //       console.log('Account tab')
    //   )

      // fetch("../profile/includes/sideNav.html")
      // .then(response => {
      //     return response.text()
      // })
      // .then(sideNavData => {
      //     document.querySelector("#sideNav").innerHTML = sideNavData;
      // });
  </script>

  