<style>
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: navy; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #4c4c667a; 
    }
    </style>
<script>
    // addSuperUser.addEventListener('click', function () {
    //     alert('Hello')
    // })
</script>

<div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
    <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
      <!-- Card -->
      <div class="card mb-5">
        <div class="card-body">
          <!-- Avatar -->
          <div class="d-none d-lg-block text-center mb-5">
            <div class="avatar avatar-xxl avatar-circle mb-3">
              <img class="avatar-img" src="../../assets/img/avatar.jpg" alt="Image Description">
              <img class="avatar-status avatar-lg-status" src="https://htmlstream.com/front/assets/svg/illustrations/top-vendor.svg" alt="Image Description" data-toggle="tooltip" data-placement="top" title="Verified user">
            </div>

            <h4 class="card-title" id="userName"></h4>
            <p class="card-text font-size-1" id="userEmail"></p>
          </div>
          <!-- End Avatar -->

          <h6 class="text-cap small">Account</h6>
          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <a class="nav-link" href="../../">
                <i class="fas fa-id-card nav-icon"></i>
                Personal info
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <i class="fas fa-shield-alt nav-icon"></i>
                Login &amp; security
              </a>
            </li>
            
           
          </ul>
          <h6 class="text-cap small">IBO</h6>
          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <a class="nav-link" href="../../">
                <i class="fas fa-id-card nav-icon"></i>
                Personal info
              </a>
            </li>
          </ul>
          <h6 class="text-cap small">Admission</h6>
          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <a class="nav-link" href="jascript:void(0)"  data-toggle="modal" data-target="#admissionModal">
                <i class="fas fa-id-card nav-icon"></i>
                Admit Student
              </a>
            </li>
          </ul>
          <h6 class="text-cap small">Pages</h6>
          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <a class="nav-link" href="../students/">
                <i class="fas fa-users nav-icon"></i>
                All Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">
                <i class="fas fa-plus nav-icon"></i>
                Add Student
              </a>
            </li>
            
           
          </ul>
          <!-- End List -->
          <h6 class="text-cap small">Users</h6>
          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#addUser">
                
                <i class="fas fa-plus nav-icon"></i>

                Add User
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <i class="fas fa-shield-alt nav-icon"></i>
                Send Sms
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#sendMail">
                  <i class="fas fa-envelope nav-icon"></i>
                  Send Mail
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#notice">
                  <i class="fas fa-globe nav-icon"></i>
                  Notice
                </a>
            </li>
            
           
          </ul>

          

          <h6 class="text-cap small">Payment</h6>

          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" data-target="#modal-sm" data-toggle="modal">
                <i class="fas fa-credit-card nav-icon"></i>
               Payment Slip
              </a>
            </li>
            
          </ul>
          <!-- End List -->

          <div class="d-lg-none">
            <div class="dropdown-divider"></div>

            <!-- List -->
            <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2">
              <li class="nav-item">
                <a class="nav-link text-primary" href="#">
                  <i class="fas fa-sign-out-alt nav-icon"></i>
                  Log out
                </a>
              </li>
            </ul>
            <!-- End List -->
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>

  <!-- add user modal start -->
  <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addNewCardModalTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header" style="background: navy; color: white;">
          <h4 id="addNewCardModalTitle" class="modal-title" style="color: white;">Add User</h4>
          <div class="modal-close">
            <button type="button" class="btn btn-icon btn-xs btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </button>
          </div>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="modal-body">
          <form>
            <!-- Button Group -->
            <div class="btn-group btn-group-toggle btn-group-segment d-flex form-group" data-toggle="buttons">
              <label class="btn btn-sm flex-fill focus active">
                <input type="radio" name="options" id="option1" checked> Super Admin
              </label>
              <label class="btn btn-sm flex-fill disabled">
                <input type="radio" name="options" id="option2"> Regular Users <span class="badge badge-soft-primary">Coming soon</span>
              </label>
            </div>
            <!-- End Button Group -->

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <!-- <label for="recipient-name" class="col-form-label">Full Name</label> -->
                    <input required type="text" class="form-control" id="fullName" placeholder="Enter your full name">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <!-- <label for="recipient-name" class="col-form-label">Full Name</label> -->
                    <input required type="email" class="form-control" id="email" placeholder="Email">
                  </div>
                </div>
              </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <!-- <label for="recipient-name" class="col-form-label">Full Name</label> -->
                    <select required class="form-control" id="city">
                          
                      <option>Calabar</option>
                      <option>Uyo</option>
                      <option>Ikom</option>
                  </select>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-sm-6">
                  <div class="form-group">
                    <!-- <label for="recipient-name" class="col-form-label">Full Name</label> -->
                    <input required type="number" class="form-control" id="phone" placeholder="Phone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                      <select required class="form-control" id="title">
                          <option>Web Development</option>
                          <option>Mobile Development</option>
                          <option>Graphic Designs</option>
                      </select>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                      <select required class="form-control" id="pack">
                          
                          <option>Basic</option>
                          <option>Intermediate</option>
                          <option>Advanced</option>
                      </select>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                      <!-- <label for="recipient-name" class="col-form-label">City</label> -->
                      <select required class="form-control" id="highestEduLevel">
                          <!-- <option>Secondary</option> -->
                          <option>Higher Institution</option>
                          <option>Secondary</option>
                          <option>Primary</option>
                      </select>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                      <select required class="form-control" id="paymentMethod">
                          <!-- <option>Secondary</option> -->
                          <option>Online</option>
                          <option>Bankdeposit</option>
                          <option>school</option>
                      </select>
                    </div>
                </div>
              </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <!-- <label for="recipient-name" class="col-form-label">City</label> -->
                        <select required class="form-control" id="applicationPrice">
                            
                            <!-- <option>Secondary</option> -->
                            <option>2000</option>
                            <option>3000</option>
                            <option>5000</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                           <input id="adminkey" class="form-control" placeholder="Admin Key" type="text"/>
                      </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-white mr-2 btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" id="submitUserData" class="btn btn-navy btn-sm">Save changes</button>
            </div>
          </form>
        </div>
        <!-- End Body -->
      </div>
    </div>
  </div>
  <!-- test stop -->
  



<!-- add user modal stop -->

<!-- Payment modal -->
<div id="modal-sm" class="modal fade bd-example-modal-sm mt-8" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Choose Payment Option</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-lg-6 text-center">
                <select class="form-control js-custom-select"
                data-hs-select2-options='{
                  "minimumResultsForSearch": "Infinity",
                  "customClass": "custom-select custom-select-sm",
                  "dropdownAutoWidth": true,
                  "width": true
                }'>
                  <option value=""><a href=""></a>Part Payment</a></option>
                  <option value="" selected><a href="">Full payment</a></option>
                </select>
              </div>
              <div class="col-lg-6">
                  <select class="form-control" id="selectUserForPayment">
                      <option>Select user</option>
                      <option>Select user</option>

                  </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <a href="./tuitionfee/" class="btn btn-light btn-outline-navy btn-sm">Proceed</a>
        </div>
     
      </div>
    </div>
  </div>

  <!-- send message -->


<div class="modal fade" id="sendMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <!-- <label for="recipient-name" class="col-form-label">Recipient:</label> -->
            <input type="text" class="form-control input-sm" id="recipient-name" placeholder="Recepient">
          </div>
          <div class="form-group">
            <!-- <label for="recipient-name" class="col-form-label">Subject:</label> -->
            <input type="text" class="form-control" id="recipient-name" placeholder="Type your Subject">
          </div>
          <div class="form-group">
            <!-- <label for="message-text" class="col-form-label">Message:</label> -->
            <textarea class="form-control" id="message-text" placeholder="Type your message"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-navy btn-sm">Send message</button>
      </div>
    </div>
  </div>
</div>

<!-- Notice board -->
<div class="modal fade" id="notice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notice Board</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label"><i class="fa fa-config"></i>Every user except</label>
              <select class="form-control">
                  <option>..</option>
              </select>
            </div>
            
            <div class="form-group">
              <!-- <label for="message-text" class="col-form-label">Message:</label> -->
              <textarea class="form-control" id="message-text" placeholder="Publish your notice"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-navy btn-sm">Send message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-sm" id="logout_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h6>Confirm Logout</h6>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <a href="../profile/login/" class="btn btn-danger" >Yes</a hhref="">
            <button class="btn btn-navy" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Admision modal -->


<div class="modal fade text-light" id="admissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content  bg-navy ">
      <div class="modal-header">
        <h5 class="modal-title text-light" id="exampleModalLabel">Admit Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Reg No:</label>
            <input type="text" class="form-control" id="admitRegNo">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-light outline-light btn-sm" id="admitStudent">Admit</button>
      </div>
    </div>
  </div>
</div>



  <script>
          let addToSelect = document.querySelector('#selectUserForPayment')
  

  addToSelect.addEventListener('change', {
    handleEvent: function (event) {
      event.preventDefault();
      let storageData = localStorage.getItem('token');
      // console.log(storageData)
        // console.log(storageData + "My data")
      axios.get('https://tnx-college.herokuapp.com/admin/all-users',{

        headers: {"Authorization" : `Bearer ${storageData}`}
           
        })
       .then(function (response) {
           let xx = ""
           let txt = ""
        myObj = response.data;
        txt += "<option>"
        for (xx in myObj) {
            
            txxt += "<span>" + myObj[xx].fullName + "</span>"
          }
          txxt += "</option>"    
         
          document.querySelector('#selectUserForPayment').value;
        }).catch(function (error) {
          console.log(error.response.data.status)
          window.location = "../../login"
    
          return Promise.reject(error.response);
          });
    
        }
      });
  </script>
  
